.feed{
    flex: 0.6;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.feed__inputContainer{
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.feed__input{
    border: 1px solid lightgray;
    border-radius: 15px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}

.feed__input > form {
    display: flex;
    width: 100%;
}

.feed__input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.feed__input > form > button {
    display: none;
} 

@media only screen and (max-width: 400px) {
   .feed{
    margin-top: 80px;
    margin-bottom: 10px;
     display: flex;
     flex-direction: column;
     padding-left: 40px;
     padding-right: 10px;
   }
}